.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** Custom Styles */
.main-wrapper {
    min-height: calc(100vh - 89px); /** Force contained elements to take up 100% height (so footer sticks to the bottom) */
}
.d-block {
  display: block;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
header {
  margin-bottom: 4em;
}
.postcode-input textarea {
  height: 150px;
}
.App {
  padding-top: 1em;
}
.tbl-wrapper {
  overflow-x: auto;
  margin-bottom: 4em;
}
.ccg-output {
  margin-bottom: 4em;
  text-align: left;
}
.ccg-output column {
  margin-bottom: 2em;
}
.ccg-output p {
  font-size: 1.5em;
}
h6 {
  font-size: 1.5rem;
  font-weight: 700;
}